@using StudentRegistrationSystem.Models.Entity
@using StudentRegistrationSystem.Helpers
@using StudentRegistrationSystem.ViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_studentLayout.cshtml";
}

<center><h2 style="margin-top:10vh"><b>Ders Programı</b></h2></center>
<table class="table table-bordered table-striped" style="margin-top:3vh; margin-left: 0.5vw">
    @{StudentHelper studentHelper = new StudentHelper();
        EnrollmentHelper enrollmentHelper = new EnrollmentHelper();
        SectionHelper sectionHelper = new SectionHelper();
        int UserID = int.Parse(HttpContext.Current.User.Identity.Name.Split(',')[0]);
        User user = studentHelper.FindUserByID(UserID);
        List<Enrollment> currentEnrollments = new List<Enrollment>();
        foreach (Enrollment e in enrollmentHelper.GetEnrollments())
        {
            if (e.UserID == user.UserID && e.Grade == null)
            {
                currentEnrollments.Add(e);
            }
        }
        List<TimeTableViewModel> timeTableModelList = new List<TimeTableViewModel>();
        foreach (Enrollment e in currentEnrollments)
        {
            Section section = studentHelper._dbContext.Sections.Find(e.SectionID);
            TimeTableViewModel timeTableElement = new TimeTableViewModel(section, sectionHelper.dayToInt(section), Convert.ToDouble(section.Time.Replace(".", ",")));
            timeTableModelList.Add(timeTableElement);
        }
    }
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th scope="col" style="width:19%">Pazartesi</th>
            <th scope="col" style="width:19%">Salı</th>
            <th scope="col" style="width:19%">Çarşamba</th>
            <th scope="col" style="width:19%">Perşembe</th>
            <th scope="col" style="width:19%">Cuma</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">09:00</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 9))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">09:30</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 9.30))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">10:00</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 10))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">10:30</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 10.30))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">11:00</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 11))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">11:30</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 11.30))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">12:00</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 12))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">12:30</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 12.30))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">13:00</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 13))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">13:30</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 13.30))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">14:00</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 14))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">14:30</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 14.30))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">15:00</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 15))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">15:30</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 15.30))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">16:00</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 16))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">16:30</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section, 16.30))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">17:00</th>
            @for (int i = 0; i < 5; i++)
            {
                int control = -1;
                foreach (TimeTableViewModel t in timeTableModelList)
                {
                    if (sectionHelper.isThereASection(t.section,17))
                    {
                        if (t.dayDecider == i)
                        {
                            Lecture l = sectionHelper._dbContext.Lectures.Find(t.section.LectureID);
                            <td>@user.DepartmentCode @l.LectureCode.@t.section.Number - @t.section.Classroom<br /> @t.section.Building</td>
                            control = 0;
                        }
                    }

                }
                if (control == -1)
                {
                    <td></td>
                }
            }
        </tr>
    </tbody>
</table>
		
