@model StudentRegistrationSystem.ViewModels.AddStudentViewModel

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@*<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>*@


<div class="container">
    <h3 class="text-muted text-center mb-3">Öğrenci Ekleme</h3>
</div>
<div class="container contact w-75">
    <div class="row bg-light">

        <div class="col-md-3">
            <div class="contact-info mt-4 ml-3">
                <i class="fas fa-plus fa-3x" style="color: green;"></i>


            </div>
        </div>

        <div class="col mt-4">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="contact-form">

                    <div class="form-group">
                        <label class="control-label " for="fname">Öğrenci Numarası:</label>


                        <div class="col-sm-8">
                            @Html.TextBoxFor(n => n.user.UserID, new { @class = "form-control", pattern = "[0-9]+", placeholder = "Öğrenci No", required = "required", @Value = "" })

                            @*<input type="text" class="form-control" id="fname" pattern="[0-9]+"
                                placeholder="Öğrenci numarası giriniz" name="fname" required>*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label " for="fname">İsim:</label>
                        <div class="col-sm-8">
                            @*<input type="text" class="form-control" id="fname" placeholder="İsim giriniz" name="fname" pattern="[A-Za-z]+"
                                required>*@
                            @Html.TextBoxFor(n => n.user.Name, new { @class = "form-control", placeholder = "İsim", required = "required" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label " for="fname">Soyisim:</label>
                        <div class="col-sm-8">
                            @*<input type="text" class="form-control" id="fname" placeholder="Soyisim giriniz" name="fname" pattern="[A-Za-z]+"
                                required>*@
                            @Html.TextBoxFor(n => n.user.LastName, new { @class = "form-control", placeholder = "Soyisim", required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label " for="fname">TCKN:</label>
                        <div class="col-sm-8">
                            @*<input type="text" class="form-control" id="fname" pattern="[0-9]+" placeholder="TCKN giriniz"
                                name="fname" required>*@

                            @Html.TextBoxFor(n => n.user.CitizenshipNo, new { @class = "form-control", placeholder = "TCKN", required = "required", @Value = "" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Cinsiyet</label>
                        <div class="col-sm-8">

                            @{
                                List<SelectListItem> items = new List<SelectListItem>();

                                items.Add(new SelectListItem {Text = "Cinsiyet Seçiniz", Value = "0" ,Selected = true , Disabled=true });

                                items.Add(new SelectListItem { Text = "Kadın", Value = "1" });

                                items.Add(new SelectListItem { Text = "Erkek", Value = "2"});
                             }

                            @*@Html.DropDownListFor(n => n.user.Gender, new SelectList(new List<string> { "Erkek", "Kadın" }), "Cinsiyet Seçiniz", new { @class = "form-control" })*@
                           
                            @Html.DropDownListFor(n => n.user.Gender,items, new { @class = "form-control" })

                            @*<select class="form-control " id="exampleFormControlSelect1">
                                    <option value="Kadın">Kadın</option>
                                    <option value="Erkek">Erkek</option>
                                </select>*@

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label " for="fname">Telefon</label>
                        <div class="col-sm-8">

                            @Html.TextBoxFor(n => n.user.Phone, new { @class = "form-control", placeholder = "Telefon Numarası", required = "required", pattern = "[0-9]+" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Öğretim Tipi</label>
                        <div class="col-sm-8">

                            @{
                                List<SelectListItem> educations = new List<SelectListItem>();

                                educations.Add(new SelectListItem { Text = "Birinci Öğretim", Value = "1" });

                                educations.Add(new SelectListItem { Text = "İkinci Öğretim", Value = "2"});
                             }

                        
                           
                            @Html.DropDownListFor(n => n.user.EducationType,educations, new { @class = "form-control" })

                           

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Bölüm</label>
                        <div class="col-sm-8">
                            @{ 
                                StudentRegistrationSystem.Models.Entity.Department dummyDepartment = new StudentRegistrationSystem.Models.Entity.Department();
                                dummyDepartment.Name = "Bölüm Seçiniz";
                                Model.departments.Insert(0, dummyDepartment);
                            }
                            @Html.DropDownListFor(m => m.departments, new SelectList(Model.departments, "DepartmentCode", "Name"), new { @class = "form-control", required = "required", @id = "ddlDepartment", @onchange = "javascript:GetAdvisor(this.value);" })
                         
                            
                            
                            @*<select id="ddlAdvisor" name="ddlAdvisor" class="form-control">
                            </select>*@



                            @*<select class="form-control " id="exampleFormControlSelect1">
                                    <option>Bilgisayar Mühendisliği</option>
                                    <option>Makine Mühendisliği</option>
                                    <option>Matematik Mühendisliği</option>
                                    <option>İnşaat Mühendisliği</option>
                                </select>*@

                        </div>
                    </div>


                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Danışman</label>
                        <div class="col-sm-8">

                            <select id="ddlAdvisor" name="ddlAdvisor" class="form-control" required = "required">
                            </select>
                            <br/>
                            <br />
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success ml-5  "> Öğrenci Ekle</button>
                            </div>

                        </div>
                    </div>

                  
                 
                </div>

            }




        </div>
    </div>
</div>

@section Javascript {


    <script src="~/Content/jquery/ajaxuncompressed.js"></script>
    <script  type="text/javascript">
        function GetAdvisor(departmentCode) {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#ddlAdvisor").html(procemessage).show();
            var url = "/ManageStudent/AddStudentForm/";

            $.ajax({
                url: url,
                data: { departmentCode: departmentCode },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='' disabled hidden selected>Danışman Seçiniz</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#ddlAdvisor").html(markup).show();
                },
                error: function (reponse) {
                    alert("zıbam : " + reponse);
                }
            });

        }
    </script>

}