@model StudentRegistrationSystem.ViewModels.LecturerListViewModel
@using StudentRegistrationSystem.Models.Entity
@using StudentRegistrationSystem.Helpers
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="container">
    <h3 class="text-muted text-center mb-3">Akademisyenler</h3>
    @if (@TempData["DeleteStatus"] == null)
    {

    }
    else
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h5 class="alert-heading"><b>Başarılı!</b></h5>
            <p style="margin-bottom:0">Akademisyen veritabanından silindi.</p>
            Akademisyenin ilişkili olduğu diğer veri girdileri de düzenlendi.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @*<div class="alert alert-success alert-dismissible fade show" role="alert">
            <h5 class="alert-heading"><b>Başarılı!</b></h5>
            <p>Akademisyen veritabanından silindi.</p>
            <p>Danışmanı olduğu öğrenciler şu an danışmansız haldeler.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h5 class="alert-heading"><b>Başarılı!</b></h5>
            <p>Akademisyen veritabanından silindi.</p>
            <p>Akademisyenin verdiği dersler de silindi.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>*@
    @if (@TempData["LecturerAddSuccess"] == null)
    {

    }
    else
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h5 class="alert-heading"><b>Başarılı!</b></h5>
            <p>Akademisyen veritabanına eklendi.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (@TempData["LecturerDeleteSuccess"] == null && TempData["DeleteStatus"] != null)
    {

    }
    @if (@TempData["LecturerDeleteSuccess"] != null && TempData["DeleteStatus"] == null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h5 class="alert-heading"><b>Başarılı!</b></h5>
            <p>Akademisyen veritabanından silindi.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (@TempData["LecturerUpdateSuccess"] == null)
    {

    }
    else
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h5 class="alert-heading"><b>Başarılı!</b></h5>
            <p>Akademisyen güncellendi.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <table class="table table-striped bg-light text-center">
        <thead>
            <tr class="text-muted">

                <th>İsim</th>
                <th>Soyisim</th>
                <th>Bölüm</th>
                <th>Telefon</th>
                <th>Email</th>

                @*<th><a class="btn btn-success btn-sm" href="#addLecturerForm">Akademisyen Ekle</a></th>*@
                <th><a href="@Url.Action("Form","ManageLecturer")" class="btn btn-success btn-sm">Akademisyen Ekle </a></th>

            </tr>
        </thead>
        <tbody>
            @{DepartmentHelper departmentHelper = new DepartmentHelper();
                string s = "-";
            }
            @foreach (Lecturer l in Model.lecturerlist)
            {
                <tr>

                    <th>@l.Name</th>
                    <th>@l.LastName</th>
                    <th>@if (l.DepartmentCode==null) {@s;}
                    @departmentHelper.DepNameFinder(l.DepartmentCode)</th>
                    <th>@l.Phone</th>
                    <th>@l.Email</th>



                    <th>
                        <div class="bnt-group">
                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#@l.LecturerID">
                                Sil
                            </button>
                            <a href="@Url.Action("Update", "ManageLecturer", new { LecturerID = l.LecturerID })" class="btn btn-info btn-sm">Yönet</a>

                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="@l.LecturerID" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Akademisyen Silme</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="text-align:left">
                                        Seçilen akademisyeni ve bağlı olduğu kayıtları silmek istediğinizden emin misiniz?<br/>
                                        Bu işlem, akademisyenin danışmanı olduğu öğrencileri danışmansız bırakacaktır.<br />
                                        Akademisyenin verdiği dersleri de veritabanından silecektir.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Hayır</button>
                                        <a href="@Url.Action("Delete", "ManageLecturer", new { LecturerID = l.LecturerID })" class="btn btn-success btn-sm">Evet </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>

                </tr>
            }
        </tbody>
    </table>

    <!-- pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
        </ul>
    </nav>
    <!-- end of pagination -->

</div>